* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: var(--color-septenary);
  color: var(--color-quaternary);
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--color-quaternary);
}
main{
  padding-top:2rem; /* Espaço para o header fixo */
}