:root {
  --color-primary: #fda2a2;
  --color-secondary: #d13737;
  --color-tertiary: #b10505;
  --color-quaternary: #333;
  --color-quinary: #fdf4f4;
  --color-senary: #e2d9d9;
  --color-septenary: #f5f1f1;
}
